{% extends "layout.html"%}

{% block title %}
    Buy
{% endblock %}

{% block main %}
<form action="/buy" method="post">

    <div class="mb-3">
        <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="username" name="symbol" placeholder="Stock symbol" type="text">
        <br>
        <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="username" name="shares" placeholder="shares" type="integer">
    </div>
    <div id = "text">
        {{text}}
    </div>
    <br>
    <button class="btn btn-primary" type="submit">Buy</button>
</form>
{% endblock %}